@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: small tweaks for font smoothing */
html, body, #root {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
